* {
  border: 0px solid White;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.header {
  text-align: center;
  position: relative;
  margin: 1%;
}

.header h2 {
  color: Black;
  font-size: 2em;
}

h1 {
  color: Black;
  font-size: 5em;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: White;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

p {
  color: white;
  font-size: 2em;
  margin: 2% auto;
  width: 60%;
}

.main {
  background-color: DarkGreen;
  margin: 0;
  padding: 5%;
}

.critter-prop {
  border:  2px solid white;
  margin: 2% auto;
  width: 60%;
  text-align: center;
}

.critter-prop img {
  display: block;
  width: 75%;
  margin: 2% auto;
}
