* {
  border: 0px solid White;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.header {
  text-align: center;
  position: relative;
  margin: 20px;
}

.header h2 {
  color: Black;
  font-size: 16px;
}

h1 {
  color: Black;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

h2 {
  color: #FFF;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}

h3 {
  color: Brown;
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0px;
  text-align: center;
}

h4 {
  color: #CCC;
  font-size: 16px;
  font-weight: 300;
}

p {
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  margin: 0 auto;
  width: 60%;
}

.main {
  background-color: DarkGreen;
  margin: 0;
  padding: 40px;
}

.critter-prop {
  border: 4px solid green;
  margin: 40px auto;
  width: 60%;
  text-align: center;
}

.critter-prop img {
  display: block;
  width:75%;
  margin: 10px auto;
}
